ol {
  padding: 5px;
  margin: 5px;
  background: none;
}

.label {
  font-weight: bold;
  
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}


#nameLabel {
  margin-left: 1.5%;
}

body {
  background-color: whitesmoke;
}


#newlyAdded {
  position: relative;
  width: 48%;
  float: left;
  margin-right: 20px;
  padding-left: 15px;
  height: 25%;
}

#eaten {
  float: left;
  width: 48%;
  padding-left: 15px;
  height: 25%;
  position: relative;
}

h1 {
  text-align: center;
  font-size: 125px;
  margin-top: 0px;
  color: blueviolet;
  font-family: Brush Script MT;
  font-weight: bolder;
}

#formDiv {
  width: 100%;
  float: left;
  clear: both;
}

img {
  width: 20%;
  height: 20%;
  display: block;
  margin: 0 auto;
}

h3 {
  margin-left: 10%;
  color: rgba(133, 15, 15, 0.904);
}

#addBtn {
  margin-left: 12.5%;
  border-radius: 5px;
  background-color: cornflowerblue;
  color: goldenrod;
}

.delete-burger {
  border-radius: 10%;
  opacity: 0;
  font-size: 10px;
  padding: 1px;
  color: rgba(232, 241, 104, 0.911);
  background-color: firebrick;
}

.delete-burger:hover {
  border-radius: 10%;
  opacity: 1;
  font-size: 10px;
  padding: 1px;
  color: rgba(232, 241, 104, 0.911);
  background-color: firebrick;
}

.change-devoured {
  border-radius: 10%;
  font-size: 10px;
  padding: 1px;
  text-align: center;
  color: blueviolet;
  background-color: deepskyblue;
}

#eat-ready {
  text-align: left;
  color: blue;
}

#ate {
  text-align: left;
  color: red;
}